@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKU-Go6G5tXcr5KPxWnVaE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKU-Go6G5tXcr4WPBWnVaE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lilitaone/v8/i7dPIFZ9Zz-WBtRtedDbYEF8RQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.5px;
}

.header, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 25px;
}

.header .logo {
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
}

.header .logo svg, .header .logo h1 {
  vertical-align: middle;
}

.header .logo h1 {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 32px;
  line-height: 36px;
}

.footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 25px;
  font-size: 15px;
  text-transform: uppercase;
}

.footer a {
  padding: 0 6px 0 3px;
  color: #000;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.footer a:hover {
  color: red;
}

.footer svg {
  margin-bottom: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  overflow: hidden;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  z-index: -1;
}

.overlay svg {
  width: auto;
  height: 85%;
  opacity: 0.45;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  padding: 25px;
}

.nav button {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #000;
  border-radius: 50%;
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.nav button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.pokewrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 200px);
  max-width: 1050px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 25px 0;
}

.pokewrapper .headline {
  width: 70%;
  font-family: "Lilita One", sans-serif;
}

.pokewrapper .headline span {
  display: block;
}

.pokewrapper .headline .number {
  color: #fff;
  font-size: 120px;
  font-weight: 900;
  line-height: 20px;
  opacity: 0.5;
}

.pokewrapper .headline .name {
  padding-left: 8%;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 4px;
  text-shadow: 2px 2px 6px #000;
  text-transform: uppercase;
}

.pokewrapper .sprite {
  display: block;
  width: 100%;
  max-height: 50vh;
  padding-top: 30px;
}

.pokewrapper .pokemeta {
  width: 30%;
  padding: 15% 0 0 30px;
}

.pokewrapper .pokemeta ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pokewrapper .pokemeta li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.pokewrapper .pokemeta li img {
  width: 50px;
  height: 50px;
  margin: -10px 0 0 -10px;
}

.pokewrapper .details {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.pokewrapper .stat {
  display: inline-block;
  margin: 16px 16px 0 0;
  padding: 4px 16px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 1300px) {
  .pokewrapper {
    max-width: 850px;
  }
}

@media screen and (max-width: 1000px) {
  .pokewrapper .headline, .pokewrapper .pokemeta {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  .overlay svg {
    height: 75%;
  }
  .pokewrapper .headline .number {
    font-size: 96px;
  }
  .pokewrapper .headline .name {
    font-size: 36px;
  }
}

@media screen and (max-width: 750px) {
  .overlay svg {
    height: 50%;
  }
  .nav {
    width: 35px;
    padding: 15px;
  }
  .nav button {
    height: 35px;
    font-size: 24px;
    line-height: 24px;
  }
  .pokewrapper {
    width: calc(100% - 130px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokewrapper .headline, .pokewrapper .pokemeta {
    width: 100%;
  }
  .pokewrapper .headline .number {
    font-size: 72px;
  }
  .pokewrapper .headline .name {
    font-size: 32px;
  }
  .pokewrapper .sprite {
    max-height: 35vh;
  }
  .pokewrapper .pokemeta {
    padding: 10px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 15px 0 0;
  }
  .header .logo, .header .jumpto {
    width: 100%;
    text-align: center;
  }
  .header .jumpto {
    margin: 12px 0;
    padding: 3px 0;
    background-color: #000;
    color: #fff;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav {
    padding: 5px;
  }
  .pokewrapper {
    max-width: calc(100% - 100px);
  }
  .pokewrapper .headline .number {
    font-size: 54px;
  }
  .pokewrapper .headline .name {
    padding-left: 10px;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .pokewrapper .sprite {
    max-height: 30vh;
    padding: 15px 0;
  }
  .pokewrapper .pokemeta li {
    margin: 0 8px 0 0;
  }
  .pokewrapper .details {
    font-size: 15px;
  }
  .pokewrapper .stat {
    margin: 10px 10px 0 0;
    padding: 3px 8px;
    font-size: 13px;
  }
}
/*# sourceMappingURL=app.css.map */